modules = ["php", "php-8.3", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["php", "php83Extensions.pdo_pgsql", "php83Extensions.pgsql", "mysql80"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MySQL Server"

[[workflows.workflow]]
name = "PHP Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."
waitForPort = 5000

[[workflows.workflow]]
name = "MySQL Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mysqld --datadir=$PWD/mysql_data --user=$USER --socket=$PWD/mysql_data/mysql.sock --port=3306 --pid-file=$PWD/mysql_data/mysql.pid"
waitForPort = 3306

[[ports]]
localPort = 3306
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80
